@charset "UTF-8";
@font-face {
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  display: flex;
  flex-direction: column;
}

:where(body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
dl, dd,
figure,
blockquote) {
  margin: 0;
}

:where(ul, ol) {
  padding: 0;
  list-style: none;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

fieldset {
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* =========================
  colors
========================== */
:root {
  --neutral-black:hsl(0,0%,8%);
  --neutral-400:hsl(0,0%,14%);
  --neutral-300:hsl(0,0%,85%);
  --neutral-200:hsl(0,0%,100%);
  --active:hsl(153,71%,59%);
  --red:hsl(0, 100%, 67%);
  /* ==================================
     TYPOGRAPHY
  ================================== */
  /* =========================
     FONT FAMILY
  ========================== */
  --ff-space-grotesk: 'Space Grotesk', sans-serif;
  /* =========================
     FONT WEIGHTS
  ========================== */
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-bold: 700;
  /* =========================
     FONT SIZES
  ========================== */
  /* Mobile 40px → Desktop 88px */
  --fs-900: clamp(2.5rem, 1.5rem + 5vw, 5.5rem);
  /* Mobile 32px → Desktop 48px */
  --fs-800: clamp(2rem, 1.5rem + 2vw, 3rem);
  /* Mobile 24px → Desktop 40px */
  --fs-750: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  /* Mobile 20px → Desktop 24px */
  --fs-700: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  /* Mobile 16px → Desktop 18px */
  --fs-600: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
  --fs-500: clamp(0.875rem, 0.85rem + 0.25vw, 1rem);
  --fs-300: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  /* =========================
     FONT 1
     Space Grotesk Bold
     88px / 88px
     -2.5px
  ========================== */
  --font-1: var(--fw-bold) var(--fs-900) / 1 var(--ff-space-grotesk);
  --ls-1: -0.15625rem; /* -2.5px */
  /* =========================
     FONT 2
     Space Grotesk Bold
     48px / 56px
     -1.5px
  ========================== */
  --font-2: var(--fw-bold) var(--fs-800) / 1.1667 var(--ff-space-grotesk);
  --ls-2: -0.09375rem; /* -1.5px */
  /* =========================
     FONT 3
     Space Grotesk Bold
     24px / 32px
  ========================== */
  --font-3: var(--fw-bold) var(--fs-700) / 1.333 var(--ff-space-grotesk);
  --ls-3: -0.0625rem; /* -1px */
  /* =========================
     FONT 4
     Space Grotesk Medium
     18px / 28px
  ========================== */
  --font-4: var(--fw-regular) var(--fs-600) / 1.5556 var(--ff-space-grotesk);
  --ls-4: 1.2px;
  --font-5: var(--fw-medium) var(--fs-500) / 1.5556 var(--ff-space-grotesk);
  --ls-5: 0.1px;
  --font-6:var(--fw-regular) var(--fs-300) / 1.5556 var(--ff-space-grotesk);
  --ls-6: 0.1px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-6:3rem;
  --space-8:4rem;
}

/* =========================================================
          BASE STYLES
   =========================================================*/
body {
  background-color: var(--neutral-black);
  color: var(--neutral-200);
  font-family: var(--ff-space-grotesk);
  font: var(--font-4);
  letter-spacing: var(--ls-4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  color: var(--neutral-200);
  text-decoration: underline;
  text-decoration-color: var(--active);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.9rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.button:hover {
  color: var(--active);
}
.button .button:focus-visible {
  outline: 2px solid var(--active);
  outline-offset: 4px;
}

.button--size {
  font: var(--font-5);
  letter-spacing: var(--ls-5);
}

/* ==============================
          HERO SECTION 
     ==============================*/
.image__hero--picture img {
  width: 100%;
  max-width: 174px;
  max-height: 383px;
  height: auto;
}

.hero__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.hero__header .pattern__circle {
  position: absolute;
  inset: 0; /* ocupa todo el hero */
  pointer-events: none; /* que no interfiera con clicks */
  z-index: -1;
}
.hero__header .pattern__circle .circle {
  position: absolute;
  width: clamp(8rem, 8vw, 12rem);
  bottom: 370px;
  right: -60px;
}
.hero__header .pattern__rings {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
.hero__header .pattern__rings .rings {
  position: absolute;
  width: clamp(24rem, 40vw, 45rem);
  top: 150px;
  left: -140px;
}

.wrapper__hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.info__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2rem;
}
.info__hero .title__hero {
  font: var(--font-1);
  letter-spacing: var(--ls-1);
  text-align: center;
}
.info__hero .hero_text {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  text-align: center;
  animation-duration: 2s;
  animation-name: slide-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* ==============================
      NAVIGATION SECTION
  ==============================*/
.navigation__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.navigation__nav .navigation__nav--logo .navigation__nav--link {
  transition: background-color 1s ease-out 0.25s;
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  cursor: pointer;
}
.navigation__nav .navigation__nav--logo .navigation__nav--link:hover {
  background-color: var(--active);
}
.navigation__nav .navigation__nav--list {
  display: flex;
  gap: 2rem;
}
.navigation__nav .navigation__nav--list .navigation__nav--list-item {
  list-style: none;
}
.navigation__nav .navigation__nav--list .navigation__nav--list-link img {
  transition: filter 0.3s ease;
  cursor: pointer;
}
.navigation__nav .navigation__nav--list .navigation__nav--list-link img:hover {
  filter: brightness(0) saturate(100%) invert(75%) sepia(70%) saturate(600%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

/* ==============================
       tools section
  ==============================*/
.tools {
  padding: var(--space-2);
  position: relative;
}
.tools .rings {
  position: absolute;
  width: clamp(24rem, 40vw, 45rem);
  bottom: -1px;
  left: 240px;
}

.wrapper__tools--text {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--neutral-200);
  border-bottom: 1px solid var(--neutral-200);
  padding: var(--space-4) 0;
  gap: var(--space-4);
  align-items: center;
  margin-bottom: var(--space-4);
}
.wrapper__tools--text .tools__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  text-align: center;
}
.wrapper__tools--text .tools__text {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
}

/* ==============================
         projects section
  ==============================*/
.projects__section {
  padding: var(--space-2);
}

.projects__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  align-items: center;
}

.projects__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-4);
}
.projects__tools .btn__hero {
  margin-top: auto;
  margin-bottom: auto;
}

.projects__tools--list .projects__tools--list-item {
  margin-bottom: var(--space-4);
}
.projects__tools--list .projects__tools--list-item .projects__title {
  font: var(--font-3);
  letter-spacing: var(--ls-3);
  text-transform: uppercase;
  margin-top: var(--space-2);
}
.projects__tools--list .projects__tools--list-item .projects__experience {
  display: flex;
  gap: var(--space-2);
  font: var(--font-4);
  margin-bottom: var(--space-2);
}

.projects__links {
  display: flex;
  gap: var(--space-2);
}

.contact__form {
  background-color: var(--neutral-400);
  padding: var(--space-4);
}
.contact__form .contact__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  text-align: center;
  margin-bottom: var(--space-4);
}
.contact__form .contact__description {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  text-align: center;
  margin-bottom: var(--space-4);
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.contact__content .contact__input {
  border-bottom: 1px solid var(--neutral-200);
  padding: var(--space-1) 0;
}
.contact__content .contact__input .name__input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.contact__content .contact__input .name__input:focus-visible {
  outline: none;
  outline-offset: none;
}
.contact__content .contact__input .email__input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.contact__content .contact__input .email__input:focus-visible:focus-visible {
  outline: none;
  outline-offset: none;
}
.contact__content .contact__input .message__input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.contact__content .contact__input .message__input:focus-visible:focus-visible {
  outline: none;
  outline-offset: none;
}

.contact__button {
  margin-top: var(--space-2);
  align-self: flex-end;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  align-items: center;
  padding: var(--space-4) 0;
}
.footer .footer__copyright {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
}

@media only screen and (min-width: 710px) {
  .wrapper__hero-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: "text image";
    gap: var(--space-4);
  }
  .image__hero {
    grid-area: "image";
  }
  .info__hero {
    grid-area: "text";
  }
  .image__hero--picture img .image__hero--picture img {
    width: auto;
    max-width: none;
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */